
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Quem somos nós?!</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="~/img/fail.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>Somos um grupo de clashers Brasileiros que cansados de pular de clãn em clãn, resolvemos criar nosso próprio.</p>
            <p>Família junta desde abril de 2014. Incontáveis guerras, vitórias e fails homéricos.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="box">
        <table id="membros-table">
            <thead>
                <tr>
                    <th data-field="league.iconUrls.tiny" data-formatter="imageFormatter">Liga</th>
                    <th data-field="name">Nome</th>
                    <th data-field="role">Posição</th>
                    <th data-field="expLevel">Level</th>
                    <th data-field="trophies">Troféis</th>
                    <th data-field="donations">Tropas Doadas</th>
                    <th data-field="donationsReceived">Tropas Recebidas</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@Scripts.Render("~/Bundle/about")
