@font-face {
    font-family: 'Super Cell';
    src: url('../fonts/Supercell-Magic.ttf');
    font-size: medium;
}


@media (min-width: 200px ) {
    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
